<section class="section">
  <div class="container">
    <div class="columns">
 <%
=begin%>
 <% if user_signed_in? %>
    		<%= render 'profile' %>
    	<% else %> 
<%
=end%>
       <%= render 'trends' %>
      <%
=begin%>
 <% end %>  
<%
=end%>

       <%= render 'feed' %>
       <%= render 'who-to-follow' %>
    </div>
  </div>
</section>
